@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CONTACT BOOK</h1>

    <p> This is a Contact Book.</p>
    <p><a href="/Contacts/Index" class="btn btn-primary btn-lg">Go To Contacts &raquo;</a></p>
</div>


